body{
  margin: 0;
}

#top {
  padding-left: 10px;
  height: 100px;
  display: flex;
  position: fixed;
  z-index: 3;
  background-color: rgb(12, 4, 4);
  width: 100%;
}

.top1{
  color: gold;
}
#carouselExampleSlidesOnly{
  margin-top: 3%;
}
.p {
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: bolder;
  color: white;

}
.d-block{
  height: 43%;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
}
#stand1{
  display: inline-flex;
}
#LAW{
  height:100%;
  width: 100%;
  margin-top: 20px;
  display:inline-block;

}
.gro{
  margin-left: 5%;
  font-style: normal;
  
}
.pet{
  margin-left: 60px;
}
.pat{
  height: 400px;
  border-radius: 20px;
  margin-left: 80px;
}
#lost{
  margin-left: 40px;
  margin-top: 5%;
}
